.container {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--bgSoft);
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: #323947;
    padding: 10px;
    border-radius: 10px;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
}

.icon {
    display: flex;
    gap: 20px;
}